.icon-48-spams {
      background-image: url(../images/l_spams.png);
      padding-left:60px!important;
}

.icon-48-spam {
      background-image: url(../images/l_spams.png);
      padding-left:60px!important;
}

